@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  margin: 0;
  background-color: #f3f4f5;
}

.container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". nav nav nav ." ". image image . ." ". about1 about2 about3 ." ". footer footer footer .";
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  -ms-grid-rows: 10% 50% auto auto;
      grid-template-rows: 10% 50% auto auto;
  gap: 0px 0px;
}

.image {
  height: auto;
  width: 100vw;
}

.nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a4aeb0;
  border-bottom: 1px solid #cad2d7;
  padding-top: 60px;
  padding-bottom: 45px;
}

.nav .logo {
  grid-area: logo;
}

.nav .menu {
  grid-area: menu;
  justify-items: right;
}

.nav .background-menu {
  background-color: #e7a20d;
}

.nav a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  padding: 0.3em 1.2em;
  border-radius: 3px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: #2d3438;
  text-decoration: none;
}

.nav a img {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  opacity: 1;
  position: relative;
  max-width: 131px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav a:hover {
  background-color: #646d72;
  color: #fff;
}

.left-text {
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: image;
}

.left-text h1 {
  color: #fff;
  font-size: 7em;
}

.left-text h3 {
  font-style: italic;
  letter-spacing: 0;
  color: #e2e2e2;
  margin-top: -3em;
  font-size: 28px;
}

.left-text h5 {
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  margin-top: -0.5em;
}

.left-text p {
  color: #fff;
  font-size: 1.5em;
  word-wrap: break-word;
  margin: 1em 0;
}

.left-text p .rm {
  text-decoration: none;
  color: #3c4a52;
  font-weight: bold;
}

.left-text .text {
  margin-top: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: about1;
}

.about1 h2 {
  font-size: 2em;
}

.about1 p {
  color: #5f5a5a;
  font-size: 1.5em;
}

.about1 span {
  color: goldenrod;
  font-size: 1.5em;
}

.about2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: about2;
}

.about2 h2 {
  font-size: 2em;
}

.about2 p {
  color: #5f5a5a;
  font-size: 1.5em;
}

.about2 span {
  color: goldenrod;
  font-size: 1.5em;
}

.about3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: about3;
}

.about3 h2 {
  font-size: 2em;
}

.about3 p {
  color: #5f5a5a;
  font-size: 1.5em;
}

.about3 span {
  color: goldenrod;
  font-size: 1.5em;
}

.about3 .say-hi {
  text-decoration: none;
  font-weight: bold;
  color: #3d4144;
  font-size: 20px;
}

.about3 a:hover {
  color: goldenrod;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: footer;
  border-top: 1px solid #cad2d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .copy {
  padding-top: 1em;
}

.footer .copy a {
  text-decoration: none;
  font-size: 25px;
  color: #7b7e80;
  font-weight: bold;
}

.footer .copy span {
  color: #7b7e80;
}
/*# sourceMappingURL=style.css.map */