body {
  width: 100%;
  background-color: white;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 180px;
  background-color: white;
}

.nav {
  display: flex;
}

#logo {
  padding-top: 1em;
  padding-right: 16em;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  
  
}


#p1,
#p2,
#p3,
#p4,
#p5,
#p6 {
  margin-top: 75px;
  margin-left: 100px;
}

#p1 a:hover{
    border-radius: 10%;
    height: 50px;
    background-color: goldenrod;
}
#baner {
  background-image: url("../projekt/baner1.jpg");
  background-position: center;
  background-size: 100% 100%;
  height: 55em;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
}

#mb {
  margin: 0 auto;
  font-size: 3em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  height: 170px;
}
.onas1 {
  display: flex;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3em;
  font-weight: bold;
  margin-top: 1em;
}

#eko img {
  height: 7em;
  margin-left: 6em;
  border: 2px solid goldenrod;
  border-radius: 30%;
  padding: 0.5em;
  margin-top: 0.7em;
}



.onas2 {
  display: flex;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3em;
  font-weight: bold;
}

#zero img{
    height: 8em;
    margin-left: 6em;
    margin-top: 0.6em;
    border: 2px solid goldenrod;
    border-radius: 30%;
    padding: 0.2em;
}

.onas3 {
  display: flex;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 50px;
  
}

#dostawa img{
    height: 8em;
    margin-left: 6em;
    margin-top: 0.6em;
    border: 2px solid goldenrod;
    border-radius: 30%;
    padding: 0.3em;
}

#mb {
  margin: 0;
  background-color: goldenrod;
}



#blok1,
#blok2,
#blok3{
  border: 2px solid black;
  border-radius: 2%;
  margin: 40px;
  width: 800px;
  font-size: 0.5em;
  text-align: justify center;
  padding: 0.3em;
}

#blok1{
    padding-top: 2.5em;
}

#blok2{
    padding-top: 2em;
}

#blok3{
    padding-top: 3em;
        
    
}

#stopka {

  height: 3.5em;
  background-color: goldenrod;
  text-align: center;
  
}

#stopka img{
    float: left;
}

#copy {
  background-color: goldenrod;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding-top: 1.2em ;
}

#banerk{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

#banerk p{
    padding-top: 10px;
}
.komody{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    
}

#k1 img{
    height: 300px;
    
}

#k2 img{
    height: 300px;
    margin-left: 100px;
}

#k3 img{
    height: 300px;
    margin-left: 100px;
}

#k4 img{
    height: 300px;
    margin-left: 100px;
}

#k5 img{
    height: 300px;
    margin-left: 100px;
}

#k1,#k2,#k3,#k4,#k5{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#k2 p{
    padding-left: 120px;
}

#k3 p{
    padding-left: 120px;
}

#k4 p{
    padding-left: 120px;
}

#k5 p{
    padding-left: 120px;
}

#banerk2{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 70px;
}

#banerk2 p{
    padding-top: 10px;
}

.komody2{
    display: flex;
    margin-top: 100px;
    
    
}

#k6 img{
    height: 330px;
    
}

#k7 img{
    height: 330px;
    
}

#k8 img{
    height: 330px;
    
}

#k9 img{
    height: 330px;
    
}

#k10 img{
    height: 330px;
    
}

#k6,#k7,#k8,#k9,#k10{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 50px;
    border: 2px solid goldenrod;
    padding: 10px;
}



#banerk3{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 70px;
}

#banerk3 p{
    padding-top: 10px;
}

.komody3{
    display: flex;
    margin-top: 100px;
    
    
}

#k11 img{
    height: 350px;
    
}

#k12 img{
    height: 350px;
    
}

#k13 img{
    height: 350px;
    
}

#k14 img{
    height: 350px;
    
}

#k15 img{
    height: 350px;
    
}

#k11,#k12,#k13,#k14,#k15{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:70px;
    
}

#banerb{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

#banerb p{
    padding-top: 10px;
}

.biurka{
    display: flex;
    margin-top: 100px;
      
}

#b1 img{
    height: 350px;
    
}

#b2 img{
    height: 350px;
    
}

#b3 img{
    height: 350px;
    
}

#b4 img{
    height: 350px;
    
}

#b1,#b2,#b3,#b4{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:0;
    
}

#banerb2{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 100px;
}

#banerb2 p{
    padding-top: 10px;
}

.biurka2{
    display: flex;
    margin-top: 100px;
      
}

#b5 img{
    height: 300px;
    
}

#b6 img{
    height: 300px;
    
}

#b7 img{
    height: 300px;
    
}

#b8 img{
    height: 300px;
    
}


#b5,#b6,#b7,#b8{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:10px;
    
}

#banerb3,#baners{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 100px;
}

#banerb3 p{
    padding-top: 10px;
}

.biurka3{
    display: flex;
    margin-top: 100px;
      
}

#b9 img{
    height: 350px;
    
}

#b10 img{
    height: 350px;
    
}

#b11 img{
    height: 350px;
    
}

#b12 img{
    height: 350px;
    
}


#b9,#b10,#b11,#b12{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:60px;
    
}

#baners{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 30px;
}
#baners p{
    padding-top: 10px;
}

.szafy{
    display: flex;
    margin-top: 100px;
      
}

#s1 img{
    height: 370px;
    
}

#s2 img{
    height: 370px;
    
}

#s3 img{
    height: 370px;
    
}

#s4 img{
    height: 370px;
    
}

#s5 img{
    height: 370px;
    
}

#s1,#s2,#s3,#s4,#s5{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:40px;
    
}

#baners2{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 40px;
}
#baners2 p{
    padding-top: 10px;
}

.szafy2{
    display: flex;
    margin-top: 80px;
      
}

#s6 img{
    height: 370px;
    
}

#s7 img{
    height: 370px;
    
}

#s8 img{
    height: 370px;
    
}

#s9 img{
    height: 370px;
    
}

#s10 img{
    height: 370px;
    
}

#s6,#s7,#s8,#s9,#s10{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:65px;
    
}


#baners3{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 40px;
}
#baners3 p{
    padding-top: 10px;
}

.szafy3{
    display: flex;
    margin-top: 10px;
      
}

#s11 img{
    height: 370px;
    
}

#s12 img{
    height: 370px;
    
}

#s13 img{
    height: 370px;
    
}

#s14 img{
    height: 370px;
    
}


#s11,#s12,#s13,#s14{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:90px;
    
    
}

#banerr1{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 40px;
}

#banerr1 p{
    padding-top: 10px;
}

.regaly{
    display: flex;
    margin-top: 80px;
      
}

#r1 img{
    height: 350px;
    
}

#r2 img{
    height: 350px;
    
}

#r3 img{
    height: 350px;
    
}

#r4 img{
    height: 350px;
    
}



#r1,#r2,#r3,#r4{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:60px;
    
    
}

#banerr2{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 40px;
}

#banerr2 p{
    padding-top: 10px;
}

.regaly2{
    display: flex;
    margin-top: 80px;
    
      
}

#r6 img{
    height: 370px;
    
}

#r7 img{
    height: 370px;
    
}

#r8 img{
    height: 370px;
    
}

#r9 img{
    height: 370px;
    
}



#r6,#r7,#r8,#r9{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:60px;
    
    
}

#banerr3{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 40px;
}

#banerr3 p{
    padding-top: 10px;
}

.regaly3{
    display: flex;
    margin-top: 20px;
    
      
}

#r10 img{
    height: 400px;
    
}

#r11 img{
    height: 400px;
    
}

#r12 img{
    height: 400px;
    
}

#r13 img{
    height: 400px;
    
}



#r10,#r11,#r12,#r13{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:120px;
    
    
}

.kontakt{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 40px;
}

.kontakt p{
    padding-top: 10px;
}

.info{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.dane{
    margin-top: 100px;
    margin-right: 300px;
}
