body {
  width: 100%;
  background-color: white;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 180px;
  background-color: white;
}

.nav {
  display: flex;
}

#logo {
  padding-top: 0.6em;
  padding-right: 3em;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
}
#p1,
#p2,
#p3,
#p4,
#p5 {
  margin-top: 75px;
  margin-left: 100px;
}

#baner {
  background-image: url("../projekt/baner1.jpg");
  background-position: center;
  background-size: 100% 100%;
  height: 55em;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
}

#mb {
  margin: 0 auto;
  font-size: 3em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.onas1 {
  display: flex;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3em;
  font-weight: bold;
}

#eko img {
  height: 7em;
  margin-left: 6em;
  border: 2px solid goldenrod;
  border-radius: 30%;
  padding: 0.5em;
  margin-top: 0.5em;
}

#eko:hoover{
    
}

.onas2 {
  display: flex;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3em;
  font-weight: bold;
}

#zero img{
    height: 8em;
    margin-left: 6em;
    margin-top: 0.6em;
    border: 2px solid goldenrod;
    border-radius: 30%;
    padding: 0.2em;
}

.onas3 {
  display: flex;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3em;
  font-weight: bold;
  
}

#dostawa img{
    height: 8em;
    margin-left: 6em;
    margin-top: 0.6em;
    border: 2px solid goldenrod;
    border-radius: 30%;
    padding: 0.3em;
}

#mb {
  margin: 0;
  background-color: goldenrod;
}



#blok1,
#blok2,
#blok3{
  border: 2px solid black;
  border-radius: 2%;
  margin: 40px;
  width: 800px;
  font-size: 0.5em;
  text-align: justify center;
  padding: 0.3em;
}

#blok1{
    padding-top: 2.5em;
}

#blok2{
    padding-top: 2em;
}

#blok3{
    padding-top: 3em;
        
    
}

#stopka {
  height: 3.5em;
  background-color: goldenrod;
  text-align: center;
}

#copy {
  background-color: goldenrod;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

#banerk{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

#banerk p{
    padding-top: 10px;
}
.komody{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    
}

#k1 img{
    height: 300px;
    
}

#k2 img{
    height: 300px;
    margin-left: 100px;
}

#k3 img{
    height: 300px;
    margin-left: 100px;
}

#k4 img{
    height: 300px;
    margin-left: 100px;
}

#k5 img{
    height: 300px;
    margin-left: 100px;
}

#k1,#k2,#k3,#k4,#k5{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#k2 p{
    padding-left: 120px;
}

#k3 p{
    padding-left: 120px;
}

#k4 p{
    padding-left: 120px;
}

#k5 p{
    padding-left: 120px;
}

#banerk2{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 70px;
}

#banerk2 p{
    padding-top: 10px;
}

.komody2{
    display: flex;
    margin-top: 100px;
    
    
}

#k6 img{
    height: 330px;
    
}

#k7 img{
    height: 330px;
    
}

#k8 img{
    height: 330px;
    
}

#k9 img{
    height: 330px;
    
}

#k10 img{
    height: 330px;
    
}

#k6,#k7,#k8,#k9,#k10{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 60px;
}



#banerk3{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 70px;
}

#banerk3 p{
    padding-top: 10px;
}

.komody3{
    display: flex;
    margin-top: 100px;
    
    
}

#k11 img{
    height: 350px;
    
}

#k12 img{
    height: 350px;
    
}

#k13 img{
    height: 350px;
    
}

#k14 img{
    height: 350px;
    
}

#k15 img{
    height: 350px;
    
}

#k11,#k12,#k13,#k14,#k15{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:70px;
    
}

#banerb{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

#banerb p{
    padding-top: 10px;
}

.biurka{
    display: flex;
    margin-top: 100px;
      
}

#b1 img{
    height: 350px;
    
}

#b2 img{
    height: 350px;
    
}

#b3 img{
    height: 350px;
    
}

#b4 img{
    height: 350px;
    
}

#b1,#b2,#b3,#b4{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:0;
    
}

#banerb2{
    height: 50px;
    background-color: goldenrod;
    text-align: center;  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

#banerb2 p{
    padding-top: 10px;
}

.biurka2{
    display: flex;
    margin-top: 100px;
      
}

#b5 img{
    height: 300px;
    
}

#b6 img{
    height: 300px;
    
}

#b7 img{
    height: 300px;
    
}

#b8 img{
    height: 300px;
    
}


#b5,#b6,#b7,#b8{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:10px;
    
}