body{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(tlo.png) ;

}

section{ 
    width: 1200px;
    height: 900px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: center;
}

.logo{
    margin: auto;
    width: 1200px;
    height: 70px;
    justify-content: center;
    display: flex;
    align-items: center;
    
}

.under_logo{
    margin: auto;
    
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    font-size: small;

    
}

.under_logo p{
    margin-top: -1em;
}

.kolaż{
    
    background-color: white;
    height: 500px;
    width: 500px;
    background-position: center;
    margin-left: 350px;
    margin-top: 30px;
}

.photo
{
    padding: 5px ;
    flex-wrap: wrap-reverse;
}

.about
{
    text-align: center;
    color: #ccc;
    font-size: 1.5em;
}

hr{
    margin-top: -1em;
    width: 500px;
    color: black;
    opacity: 0.2;
}

.text{
    
    width: 500px;
    margin-left: 350px;
    text-align: justify;
    line-height: 1.5em;
    color: rgb(172, 161, 161);
 
}

.underline{
    text-decoration: aqua;
}

.mail{
    text-align: center;
}

footer{
    text-align: center;
    margin-top: 3em;
    color: rgb(104, 102, 102);
}
