
body{
    margin: 0;
    background-color: #f3f4f5;
    background-image: url(masthead@2x.jpg);
}
.container{
display: grid;
grid-template-areas: 
    ". nav nav nav ."
    ". image image . ."
    ". About-me What-i-do Get-in-touch ."
    ". footer footer footer .";
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: 10% 50% auto auto;
gap: 0px 0px;
}
#mainscreenimage{
    height: auto;
    width: 100vw;
    
}
.nav{
grid-area: nav;
display: flex;
justify-content:space-between;
align-items: center;
background-color: #a4aeb0;
border-bottom: 1px solid #cad2d7;
padding-top: 60px;
padding-bottom: 45px;
}
a img
{
    transition: all 250ms ease-in-out;
    opacity: 1;
    position: relative;
    max-width: 131px;
}
ul{
    display: flex;
    list-style: none;
}

.nav a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    padding: 0.3em 1.2em;    
    border-radius: 3px;
    transition: all 250ms ease-in-out;
}
a{
    color: #2d3438;
    text-decoration: none;
}
a:hover{
    background-color: #646d72;
    color: #fff;
}
.Logo {
    grid-area: logo;
}
.Menu {
    grid-area: menu;
    justify-items: right;
}
.image{
    display: flex;
    grid-area:image;
}
.image img{
    max-width: 100%;
    width: 100%;
    height: auto;
    background-position: center;
    background-attachment: fixed;
}
.imagetext{
    margin-top: 18%;
    display: flex;
    flex-direction: column;
}
.image h1, h3, h5, p{
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 100%;
    letter-spacing: -1px;
    margin: 25px 0 .5em;
}
.imagetext h1{
    font-family: 'Roboto Condensed';
    font-weight: 900;
    font-size: 96px;
    margin-bottom: 15px;
    letter-spacing: -2px;
}
h3{
    font-size: 28px;
    color: #e2e2e2;
}
h5{
    font-size: 24px;
}
p{
    word-wrap: break-word;
}
.About-me{
    display: flex;
    flex-direction: column;
    grid-area: About-me;
    color: rgb(53, 51, 51);
}
.What-i-do{
    display: flex;
    flex-direction: column;
    grid-area: What-i-do;
}
.Get-in-touch{
    display: flex;
    flex-direction: column;
    grid-area: Get-in-touch;
}
.Footer{
    grid-area: footer;
}











