body{
    margin: 0;
    
}
.container{
    display: flex;
}
.menu{
    height: 1200px ;
    width: 150px;
    background-color: rgb(8, 8, 119);

    .b1{
        margin-top: 2em;
        margin-left: 1.5em;
        margin-bottom: 2em;
        padding: 0.5em;
        border: 0;
        border-radius: 15px;
        width: 8em;
        background-color: rgb(0, 195, 255);
        cursor: pointer;
        
    }

    button{
        color: black;
        font-weight: bold;
    }


    .list{
        margin-left: -1em;

        ul{
          list-style-type: none;
        }

        li{
            color: white;
            margin-top: 1em;
        }
    
    }

    h5{
        color: rgb(5, 110, 170);
        margin-left: 2em;
    }

    .list2{
        ul{
            list-style-type: square;
            color: white;
        }
    }

   
}

#mail-list{
    background-color: white;
    width: 500px;
    height: 1200px;
    border: lightgray 1px solid;
    margin: 0 ;

   
}
#m1, #m2, #m3, #m4, #m5, #m6, #m7{
text-align: left;
background-color: white;
border-bottom: solid 1px rgb(175, 174, 174);
display: flex;
}
#m1{
    background-color: rgb(241, 236, 236);
}
#m2, #m3{
   border-left: rgb(0, 153, 255) 5px solid;
}

#m8{
    text-align: left;
    background-color: white;
    border-bottom: solid 1px rgb(175, 174, 174);
    display: flex; 
   
}


img{
    border-radius: 10%;
    margin-right: 8px;
    padding-top: 10px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7{
    color:#999;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    margin-top: 21px;
    margin-bottom: 0;
}
#pp1{
    margin-top: 0;
    font-weight: bold;
    font-size:1.2em;
   


}
#ppp1{
    font-size: 0.9em;
}

#n1{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0px;
    
}

#nn1{
    margin-top: 0;
    
}

.text{
    width: 1270px;

    .ali{
        margin-left: 1em;
        border-bottom: 1px solid gray;

        h1{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        

        p{
            color: black;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: -1em;
        }

        .s1{
            color: rgb(0, 140, 255);
        }

        .s2{
            color: gray;
        }
    }
  
    .buttons{
        margin-top: -4em;
        margin-right: 2em;
        float: right;
        
    }

    button{
        border: 1px solid grey;
        border-radius: 15px;
        padding: 0.5em;
        margin-right: 2em;
        width: 6em;
        cursor: pointer;
    }
    
     
    
}