body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  display: none;
}

.navbar {
  background-color: white;
  padding: 1em;
}

.navbar .mobile-logo {
  height: 5em;
}

.navbar nav.menu-btn {
  display: block;
}

.navbar nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #d8a649;
  height: 100vh;
  padding: 1em;
}

.navbar nav ul.primary-nav {
  margin-top: 5em;
}

.navbar nav li a {
  display: block;
  text-decoration: none;
  padding: 0.5em;
  font-size: 1.3em;
}

.navbar nav li:hover {
  font-weight: bold;
}

.navbar .mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.baner {
  background-image: url("../img/baner4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding: 5em 2em;
}

.baner {
  text-align: center;
}

.left-col .subhead {
  color: orange;
  font-size: 2em;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.left-col h1 {
  font-size: 2.5em;
  color: orange;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.left-col .primary-button {
  background-color: goldenrod;
  color: white;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.about-us li {
  text-align: center;
  background: goldenrod;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.about-us li blockquote {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us li img {
  width: 5em;
  height: 5em;
  border: 5px solid gold;
  border-radius: 50%;
  margin-top: -4.5em;
}

.contact {
  background: goldenrod;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-left h2 {
  font-size: 2em;
}

input[type="submit"] {
  background: gold;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  border-radius: 5em;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-entry,
  .mobile-exit-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    margin-right: 5em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav li {
    padding-right: 2em;
    margin-top: -1em;
  }
  .navbar nav li a.space {
    padding-left: 1em;
  }
  .navbar nav li a {
    padding-right: 0em;
    color: black;
    font-weight: bold;
    font-size: 1em;
    padding-top: 1.5em;
    cursor: pointer;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.a {
    font-weight: bold;
  }
  .navbar nav img.mobile-menu-exit {
    display: none;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    margin: 0;
  }
  section {
    padding: 10em 4em;
  }
  .baner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .baner .container .left-col {
    margin: 0.1em 3em 0 0.1em;
  }
  .baner .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .navbar nav {
    float: left;
    width: 100%;
    background: none;
  }
  .about-us ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-us ul li {
    margin: 0 1em;
  }
  .contact {
    position: relative;
  }
  .contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }
}

@media only screen and (min-width: 1450px) {
  .baner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .navbar nav {
    float: left;
    width: 100%;
    background: none;
  }
}
/*# sourceMappingURL=style.css.map */