body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  display: none;
}

.navbar {
  background-color: white;
  padding: 1em;
}

.navbar .mobile-logo {
  height: 4em;
}

.navbar nav.menu-btn {
  display: block;
}

.navbar nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: orange;
  height: 100vh;
  padding: 1em;
}

.navbar nav ul.primary-nav {
  margin-top: 5em;
}

.navbar nav li a {
  display: block;
  text-decoration: none;
  padding: 0.5em;
  font-size: 1.3em;
}

.navbar nav li:hover {
  font-weight: bold;
}

.navbar .mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.baners {
  background: goldenrod;
  text-align: center;
  height: 2.1em;
  margin-top: -1em;
  width: 100%;
}

.baners p {
  font-weight: bold;
  padding-top: 0.4em;
}

.szafy .container {
  margin-top: 4em;
  text-align: center;
}

.szafy img {
  height: 19em;
  margin-top: 2em;
  margin-bottom: -1em;
}

.szafy p {
  margin-bottom: 2em;
}

.baners2 {
  background: goldenrod;
  text-align: center;
  height: 2.1em;
  margin-top: 5em;
  width: 100%;
}

.baners2 p {
  font-weight: bold;
  padding-top: 0.4em;
}

.szafy2 .container {
  margin-top: 4em;
  text-align: center;
}

.szafy2 img {
  height: 17em;
  margin-top: 2em;
}

.szafy2 p {
  margin-bottom: 2em;
}

.baners3 {
  background: goldenrod;
  text-align: center;
  height: 2.1em;
  margin-top: 5em;
  width: 100%;
}

.baners3 p {
  font-weight: bold;
  padding-top: 0.4em;
}

.szafy3 .container {
  margin-top: 4em;
  text-align: center;
}

.szafy3 img {
  height: 19em;
  margin-top: 2em;
}

.szafy3 p {
  margin-bottom: 2em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  background: goldenrod;
}

.footer img {
  height: 2em;
  margin: 0;
}

.footer .copy {
  font-size: 0.6em;
  margin-top: 1.2em;
  margin-left: 6em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-entry,
  .mobile-exit-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    margin-right: 5em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav li {
    padding-right: 2em;
    margin-top: -1em;
  }
  .navbar nav li a.space {
    padding-left: 1em;
  }
  .navbar nav li a {
    padding-right: 0em;
    color: black;
    font-weight: bold;
    font-size: 1em;
    padding-top: 1.5em;
    cursor: pointer;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.a {
    font-weight: bold;
  }
  .navbar nav img.mobile-menu-exit {
    display: none;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    margin: 0 auto;
  }
  .navbar nav {
    float: left;
    width: 100%;
    background: none;
  }
  .szafy {
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .szafy .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .szafy2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .szafy2 .container .komoda1 .komoda2 {
    margin: 2em;
  }
  .szafy3 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1450px) {
  .navbar nav {
    float: left;
    width: 100%;
    background: none;
  }
  .szafy .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em;
    text-align: center;
  }
  .szafy .container .komoda1 .komoda2 {
    margin: 2em;
  }
  .szafy2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em;
    text-align: center;
  }
  .szafy3 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em;
    text-align: center;
  }
}
/*# sourceMappingURL=szafy.css.map */